@charset "utf-8";
/* CSS Document */
.imgbrowzOr{
float:right;
}
.pp_gallery ul {
	padding:0px;
}
.pp_gallery li {
	padding:0px;
}
.img-description, .imgbrowz0r-navigation, #imgbrowz0r {
	margin: 0 auto;
	width: 970px;
	text-align: left
}
.imgbrowz0r-navigation {
	padding: 1.5em 0 0.5em
}
.imgbrowz0r-navigation .img-statistics {
	margin-top: 1.5em
}
.img-description {
	margin: 1.5em auto 0
}
#imgbrowz0r .img-row {
	padding: 0 1em
}
#imgbrowz0r .img-directory span.img-dir-name, #imgbrowz0r .img-directory span.img-thumb-date {
	display: block
}
#imgbrowz0r .img-directory span.img-dir-name {
	font-weight: bold;
	font-size: 1.2em
}
#imgbrowz0r .img-column-1 {
	clear: left
}
#imgbrowz0r .img-thumbnail, #imgbrowz0r .img-directory {
	float: left;
	padding: 1.5em 0;
	width: 25%;
	text-align: center
}
#imgbrowz0r .img-thumbnail a, #imgbrowz0r .img-directory a {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 160px;
	line-height: 150px;
	background-repeat: no-repeat;
	background-position: 50% 50%
}
#imgbrowz0r .img-directory a:link, #imgbrowz0r .img-directory a:visited, #imgbrowz0r .img-thumbnail a:link, #imgbrowz0r .img-thumbnail a:visited {
	background-color: #000;
	border: 3px solid #000;
	overflow: hidden; /* If the title of the directory is too long the overflowing
		                       part will be hidden. Not a perfect solution. */
	font-size: 1.5em;
	color: #ccc;
	text-decoration: none
}
#imgbrowz0r .img-directory a:active, #imgbrowz0r .img-directory a:hover, #imgbrowz0r .img-thumbnail a:active, #imgbrowz0r .img-thumbnail a:hover {
	border-color: #F52542;
	color: #F52542
}
#imgbrowz0r .img-directory a, #imgbrowz0r .img-thumbnail a {
	text-indent: -9999em
}
#imgbrowz0r .img-no-thumbnail a {
	text-indent: 0
}
/* http://sonspring.com/journal/clearing-floats */
		html body div.clear, html body span.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
/*added to fix disply error with the buttons */
.ui-icon { display: inline-block !important; }
.ui-button-text { display: inline-block !important; }
	